* {font-family: 'Open Sans', sans-serif;}
nav {
    display: flex;
    justify-content: space-between;
}
.vitore {
    color: rgb(255, 0, 179);
}
.bp {
    color: rgb(228, 37, 100);
    background-color: rgb(141, 3, 221);
    border: 0cap;
    font-size: 20px;
    padding: 15px 35px;
}
.nayeed {
    color: rgb(62, 5, 116);
    font-size: 45px;
    font-weight: 800;
    
}
nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}
nav  li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: black;
}